.postContainer {
 border: 1px solid #DEDEDE;
  margin: 1rem;
  border-radius: 3rem;
  
  padding: 1rem;
}

.postContainer:hover {
  box-shadow: 15px 15px 15px #DEDEDE; 
}

.topCard {
  display: flex;
  align-items: center;

}

h3 {
  font-family: "roboto";
  margin: 0 0 1rem 1rem;


}

img {
  width: 30rem;
  margin-left: 3rem;
}


.time {
  margin-left: 4rem;
  font-family: "Roboto";
}
.upVotes {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.ups {
  font-family: "Roboto";
  font-size: 1.3rem;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
}

.arrow:hover {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  img {
    width:20rem;
  }
  .ups {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  img {
    width:12rem;
  }
}
