.postContainer {
 border: 1px solid #DEDEDE;
  margin: 1rem;
  border-radius: 3rem;
  max-width: 90rem;
  padding: 1rem;
}

.postContainer:hover {
  box-shadow: 15px 15px 15px #DEDEDE; 
}

.topCard {
  display: flex;
  align-items: center;

}

h3 {
  font-family: "roboto";
  margin: 0 0 1rem 1rem;


}

.postImage {
  width: 30rem;
  margin-left: 3rem;
}

.postText {
  font-family: "roboto";
  margin-left: 1rem;
}


.time {
  margin-left: 4rem;
  font-family: "Roboto";
}
.upVotes {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.ups {
  font-family: "Roboto";
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0
}

.bottomCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1rem .5rem;
  font-family: "Roboto";
  flex-wrap: wrap;
}

.comments {
  
  font-weight: 500;
  font-family: "Roboto";
}

.comments:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .postImage {
    width:20rem;
  }
  .ups {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  .ups {
    margin: .5rem 0 .5rem 0
  }
  .postImage {
    width:12rem;
  }
}
