.logoContainer {
  display: flex;
  align-items: center;
  justify-content: start;

}

.header {
  display: flex;
  align-items: center;
  border: 1px solid black;
  justify-content: space-evenly;
}

.header img {
  width: 3rem;
  height: 3rem;
}
span {
  color: red;
}
